body {
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark-mode{
  background-color: #292929;
}

.logo{
  cursor: pointer;
  transition: all 200ms;
}

.bodyContent {
  display: flex;
  align-items: center;
}
.bttn{
  border: none;
  margin-right: 6px;
  cursor: pointer;
  transition: all 200ms;
}
.imgBttn{
  background: transparent;
}
.imgBttn > img{
  width: 50px;
  height: auto;
}
.toggle{
  margin-left: 35%;
  border-radius: 50%;
  background-color: rgba(34, 33, 33, 0.932);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.55);
}

.toogle-darkMode {
  background-color:aliceblue;
  box-shadow: 2px 2px 3px 0px rgba(255, 255, 255, 0.676);
}

.toggle > img{
  padding: 5px;
  width: 25px;
  height: auto;
}

.colorBttn{
  color: black;
  padding:10px 23px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}

.colorBttn-darkMode {
  color: white;
}

.blue{
  background-color: skyblue;
}

.blue-darkMode{
  background-color: #3CB0EC;
}
.yellow{
  background-color: gold;
}
.yellow-darkMode{
  background-color: #FBE48A;
}

.pink{
  background-color: pink;
}
.pink-darkMode{
  background-color: #FF9EAE;
}

.bttn:hover,
.logo:hover{
  transform: scale(1.1);
}

.data{
  width: 40%;
  height: 50%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.list {
  display: flex;
  align-items: center;
  background-color: #F1F3F4;
  color: black;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px 0 0 10px;
}

.list-thumnail{
  width: 50px;
  height: 50px;
}
.list-desc{
  margin-left: 10px;
}

